click==6.7
colorama==0.3.9
Faker==0.7.11
flake8==3.3.0
Flask==0.12
Flask-Cors==3.0.2
flask-httpauth==3.2.2
Flask-RESTful==0.3.5
gunicorn==19.7.1
passlib==1.7.1
peewee==2.9.1
pytest==3.0.7
pytest-cov==2.4.0
pytest-mock==1.6.0
jsonschema==2.6.0
marshmallow==2.13.4
marshmallow-jsonschema==0.3.0
