flake8==3.3.0
click==6.7
Flask==0.12
Flask-RESTful==0.3.5
peewee==2.9.1
pytest==3.0.7
pytest-cov==2.4.0
pytest-mock==1.6.0
flask-httpauth==3.2.2
passlib==1.7.1
gunicorn==19.7.1
Flask-Cors==3.0.2
marshmallow==2.13.4
marshmallow-jsonapi==0.11.0
jsonschema==2.6.0
